*.pyc
SF_results
LU_results
Data
*.xlsx
script2.py
script3.py
script4.py
*.aux
*.bbl
*.blg
*.log
*.fdb_latexmk
*.out
build
*.synctex.gz
*.lb
*.fls

Writeup/main_vldb.pdf

*.lb

*.fls
.ipynb*
Writeup/.main_vldb.lb

Writeup/main_vldb.fls

Writeup/main_vldb.pdf

*.~*
