*.pyc
*.dat
SF_results
LU_results
Data
*.xlsx
script2.py
script3.py
*.cls
*.aux
*.bbl
*.blg
*.log
*.fdb_latexmk
*.out
*.synctex.gz
*.lb
*.fls
build

*.lb

*.fls
.ipynb*
Writeup/.main_vldb.lb

Writeup/main_vldb.fls
